/* Uses colors from https://yeun.github.io/open-color/ */

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    background: #212529;
    color: #f8f9fa;
    font-family: sans-serif;
}

body {
    font-size: 0.75rem;
    text-rendering: optimizeLegibility;
    min-width: 1280px;
}

body, ul, ol, dl {
    margin: 0;
}

article, aside, audio,
footer, header, nav, section, video {
    display: block;
}

p {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding: .5rem;
    margin: 0;
    font-size: .9rem;
}

pre, code {
    display: block;
    padding: .5rem;
    margin: 0;
}

textarea {
    resize: vertical;
}

table {
    border-collapse: collapse;
}

td {
    padding: .5rem;
}

img {
    border: none;
    max-width: 100%;
}

input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
    border: 0px;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="submit"] {
    -webkit-appearance: none;
}

input:required:after {
    color: #f00;
    content: " *";
}

input[type="email"]:invalid {
    background: #f00;
}

sub, sup {
    line-height: 0;
}

a {
    color: #4c6ef5;
    text-decoration: none;
    line-height: 1;
}

a:hover {
    text-decoration: underline;
}

.t {
    width: 100%;
    clear: both;
    align-items: stretch;
}

.tn {
    width: 100%;
    background: #a61e4d;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.25;
    overflow-wrap: anywhere;
    font-weight: bold;
    clear: both;
}

.tn:hover {
    cursor: pointer;
}

.f {
    overflow: auto;
    clear: both;
}

.fk {
    width: 10rem;
    float: left;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
    background: #343a40;
}

.fk > .fn {
    float: left;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.5;
    overflow-wrap: anywhere;
}

.fk > .ft {
    width: 100%;
    font-size: 0.7rem;
    color: #dee2e6;
    overflow-wrap: anywhere;
}

.fv {
    width: calc(100% - 10.2rem);
    margin-left: 0.2rem;
    float: left;
    font-size: 0.9rem;
    overflow-wrap: anywhere;
}

ul.arr {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

ul.arr > li {
    margin: 0;
    padding: 0;
    display: inline-block;
    clear: both;
    width: 100%;
}

i {
    color: #dee2e6;
}

.pathHint {
    position: fixed;
    top: 0;
    right: 0;
    background: #087f5b;
    color: #f8f9fa;
    padding: 0.5rem;
    font-size: 0.9rem;
}
